body {
  background: url(/media/images/bg.jpg);
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}
.navbar {
  background: #0C120C;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
}
.navbar-nav .nav-link.active {
  text-decoration: none;
  color: #E0E0E1;
  border-bottom: 0.2rem solid #E0E0E1;
  padding-bottom: 0px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

p {
  color: #0C120C;
  font-size: 13pt;
  text-align: left;
}
form {
  text-align: left;
}
h1.chunk {
    display: inline-block;
    margin-bottom: 50px;
    padding: 0 10px;
    position: relative;
    height: 85px;
    line-height: 1.25;
    z-index: 1;
}
h1 span{
    font-style: normal;
    position: relative;
    z-index: 1;
    height: 50px;
    text-align: center;
}
h1.chunk::after {
background: url(/media/images/h1_chunk.jpg) 50% repeat;
bottom: 0;
content: "";
height: 22.5px;
left: 0;
position: absolute;
width: 100%;
}

#info {
    text-align: center;
}
#hoerproben {
    text-align: center;
}
#band {
    text-align: center;
}

#anfragen {
    text-align: center;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 38pt;
  color: #000;
  letter-spacing: -2px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 22pt;
  letter-spacing: -2px;
}
.lead {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-size: 16pt;
}
.sectionB {
  background: url(/media/images/sectionbg.jpg);
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-position: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 0px;
}
.sectionC {
  background: url(/media/images/sectionbg2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 15px;
}
.section {
  background-color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 0px;
}
.sectionA {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 0px;
}

.btn-primary {
  background-color: #BF0C1A;
  border-color: #BF0C1A;
}
a {
  color: #E0E0E1;
}
a:hover {
  text-decoration: none;
  color: #E0E0E1;
  border-bottom: 0.2rem solid #E0E0E1;
  padding-bottom: 0px;
}
footer {
  background-color: #0C120C;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  width: 100%;
  line-height: 60px;
  padding-bottom: auto;
}
@media screen and (max-width: 450px) {
    h1 {
        font-size: 30pt;
    }
    .section {
      padding-left: 15px;
      padding-right: 15px;
    }
    .sectionA {
      padding-left: 15px;
      padding-right: 15px;
    }
    .sectionB {
      background: url(/media/images/sectionmobile.jpg);
      background-position: top;
      padding-left: 15px;
      padding-right: 15px;
    }
    .sectionC {
      background: url(/media/images/section2mobile.jpg);
      background-position: top;
      background-attachment: unset;
      padding-left: 15px;
      padding-right: 15px;
    }
    footer {
      line-height: 60px;
    }
    .footerLinks {
      padding-top: 12px;
      font-size: 12px;
      text-align: center;
      line-height: 25px;
    }
    .mobile-hide {
      display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 36pt;
    }
    .section {
      padding-left: 15px;
      padding-right: 15px;
    }
    .sectionA {
      padding-left: 15px;
      padding-right: 15px;
    }
    .sectionB {
      background-position: top;
      background-attachment: unset;
      padding-left: 15px;
      padding-right: 15px;
    }
    .sectionC {
      background-position: top;
      background-attachment: unset;
      padding-left: 15px;
      padding-right: 15px;
    }
    footer {
      line-height: 60px;
    }
    .footerLinks {
      padding-top: 12px;
      font-size: 14px;
      text-align: center;
      line-height: 25px;
    }
}

@media screen and (min-width: 450px) {
    .mobile-show {
      display: none !important;
    }
}
.fade {
  opacity: 0;
  transform: scale(0.95)rotate(0);
  transition: all 1.2s linear;
}
.fade.animate {
  opacity: 1;
  transform: scale(1) rotate(0);
}
