.navbar {
  background-color: #0C120C;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
}

p {
  color: #0C120C;
  font-size: 13pt;
}


h1 {

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 38pt;
  letter-spacing: -2px;
}
h3 {

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 22pt;
  letter-spacing: -2px;
}

.lead {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-size: 16pt;
}

.section {
  background-color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #BF0C1A;
  border-color: #BF0C1A;
}

a {
  color: #E0E0E1;
}
a:hover {
    color: #E0E0E1;
    text-decoration: none;
}
footer {
  background-color: #0C120C;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
  width: 100%;
  line-height: 60px;
  padding-bottom: auto;
}
