container_commands:
  00_run_venv:
    command: "source /opt/python/run/venv/bin/activate"
  01_collectstatic
    command: "manage.py collectstatic --noinput"
  02_migrate:
    command: "manage.py migrate --noinput"
  03_createsu:
    command: "manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
   DJANGO_SETTINGS_MODULE: "iotd.settings"
   "PYTHONPATH": "/opt/python/current/app/iotd:$PYTHONPATH"
   "aws:elasticbeanstalk:container:python":
   WSGIPath: playgroundProject/playground_site/wsgi.py
   NumProcesses: 3
   NumThreads: 20
   "aws:elasticbeanstalk:container:python:staticfiles":
   "/static/": "www/static/"
