container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsuperuser && admin && admin@admin.at && admin"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
