container_commands:
  01_collectstatic:
    Command:"source /opt/python/run/env-name/bin/activate && python Playgroundproject-env/manage.py collectstatic --noinput"
  02_migrate:
    Command:"source /opt/python/run/env-name/bin/activate && python Playgroundproject-env/manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: playground_site/wsgi.py
