{% load static %}
{% load javascript_settings_tags %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font Family -->
  <style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  </style>


  <!-- Import JavaScript -->
  <script type="text/javascript">{% javascript_settings %}</script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Schoensgibl CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="shortcut icon" href="{% static 'favicon/pg.ico' %}" />

  <!-- Ajax -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Import Pg.JS -->
  <script type="text/javascript" src="{% static 'js/pg.js' %}"></script>


  <title>Playground</title>

</head>


<body data-spy="scroll" data-target="#navbar_pg_main" data-offset="0">

  <!-- Navbar -->
  <nav id="navbar_pg_main" class="navbar sticky-top navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}#top">
      <img src="/media/images/Nav_Logo_PG_681.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand fade" href="{% url 'home' %}#top">Playground</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" id="top-menu">
        <li class="nav-item">
          <a class="nav-link" href="#info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#hoerproben">Hörproben</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#band">Band</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anfragen">Anfrage</a>
        </li>

      </ul>
    </div>
  </nav>



  <!-- Slides -->
  <div class="" id="top">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 mobile-hide" src="media/images/banner.jpg" alt="First slide">
          <img class="d-block w-100 mobile-show" src="media/images/bannermobile.jpg" alt="First slide">
        </div>
      </div>
    </div>

  </div>


  <!-- Welcome Banner -->

  <div class="section" id="info">
    <div class="container">

      <h1 class="chunk fade"><span>Playground</span></h1>
      <p class="lead fade">Willkommen auf der offiziellen Seite der Band Playground</p>
      <hr class="my-4">
      {% for info in infos.all %}
      <p class=""> {{ info.info }} </p>
      {% endfor %}
    </div>
  </div>


  <div class="sectionB" id="hoerproben">
    <div class="container">

      <h1 class="chunk fade"><span>Hörproben</span></h1>
      <hr class="my-4">
    </br>
    {% for song in songs.all %}
    <div class="row fade">
      <div class="col">
        <h3>{{ song.title }}</h3>
      </div>
      <div class="col">
        <audio controls>
          <source src="{{ song.audio.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="sectionA" id="band">
    <div class="container">
      <h1 class="chunk fade"><span>Die Band</span></h1>
      <hr class="my-4">

      <div class="album py-5">
        <div class="container">
          <div class="row">
            {% for member in members.all %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ member.image.url }}" alt="">
                <div class="card-body">
                  <h3>{{ member.name }}</h3>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionC" id="anfragen">
    <div class="container">
      <h1 class="chunk fade"><span>Anfragen</span></h1>
      <form>

        <hr class="my-4">



        <h3>Sie wollen uns buchen?</h3>
        <br>
        <p class="lead">Claudia Idinger</p>
        <p class="lead">
        <a id="mailto_pg" href="mailto:booking@play-ground.at">booking@playground.at</a>
      </p>
        <p class="lead">+43 699 113 602 43</p>

    </div>
  </div>
</div>
</body>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 footerLinks" align="left">
        <span class="text-muted">
          Playground © {% now "Y" %} | <a href="{% url 'impressum' %}">Impressum</a> | Webdesign <a href="https://schoensgibl.com/">Schoensgibl</a>
        </span>
      </div>
      <div class="col md-2">
      </div>
      <div class="col-md-2" align="center">
        <a id="fb" href="https://www.facebook.com/Playground-131845666859714" target="_blank"><img src="media/social/facebook.png" alt="" width="27" height="27" hspace="5">
          <a id="insta" href="https://www.instagram.com/playground_liveband" target="_blank"><img src="media/social/instagram.png" alt="" width="27" height="27" hspace="5">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JQuery -->
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>

<!-- Optional JavaScript -->
<script src="{% static 'js/java.js' %}"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- META Tags -->

<meta property="og:title" content="Playground">
<meta property="og:description" content="Musik ist ein fester Bestandteil eines gelungenen Festes.
                                        Lassen Sie die Livemusik von Playground ein fester Bestandteil Ihrer Erinnerung werden.">
<meta property="og:image" content="https://play-ground.at/media/socialmedia/thumbnail_pg.jpg">
<meta property="og:url" content="https://play-ground.at">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="Playground, Band">
<meta name="twitter:image:alt" content="Playground, Band, Bandmitglieder">


</html>
